

{% block body %}
    <div class="ui-content jqm-content" role="main">
	<h3>Introduce direccion</h3>
        {{ form_start(form) }}
        {{ form_widget(form) }}       
        <input type="submit" value="Create" />
       {{ form_end(form) }}
       
{% endblock %}
