{% extends 'base.html.twig' %}

{% block body %}
    <div id="results">...</div>
    <ul>
        <li>
            <a href="{{ path('local_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
{% block scripts %}
    <script>
        var url = {{ path('ajax_load') }};
    </script>
    <script src="{{ asset('js/local.js') }}" type="text/javascript"></script>
{% endblock %}
